section.block-cards {

  // Branded Curve {

  .branded-curve {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;

    @include media-breakpoint-up(md) {
      height: 360px;
    }

    svg {
      width: 100%;
      min-width: 480px;
      height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      @include media-breakpoint-up(md) {
        width: 1920px;
        height: auto;
      }

      @media (min-width: 1920px) {
        width: 100%;
        height: 360px;
      }


    }
    &.top-0 svg {
      top: 0;
      transform: translateX(-50%);
    }
    &.bottom-0 svg {
      bottom: 0;
      transform: scaleY(-1) translateX(-50%);
    }

  }

  .section-heading {
    max-width: 856px;
    margin: auto;
  }

  // Cards
  .card-item {
    height: 100%;
    box-shadow: 8px 8px 0 0 $blue-300;

    .icon {
      &-numbered {
        font-size: calc(22 / 16) * 1rem;
        line-height: $lh-b-sm;
      }
    }

    @include media-breakpoint-up(lg) {
      min-height: var(--min-height);
    }
  }


  // Swiper
  .swiper-slide {
    height: auto;
  }
}
