section.component-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 1em;
    height: 1em;
  }

  &:not(.icon-color) {
    svg {
      color: currentColor;

      path {
        fill: currentColor;
      }
    }
  }
}
