section.block-standard-hero {

  .content-width{
    @include media-breakpoint-up(lg) {
      max-width: 712px;
    }
  }
  
  .custom-image-square{
    @include media-breakpoint-up(lg) {
      width: 408px;
      height: 408px;
    }
  }
  
  
  &.theme-blue, &.theme-dark-blue ,&.theme-brand-gradient-1 {
    #breadcrumbs,
    #breadcrumbs a {
      color: currentColor;
    }
  }

  .featured-image-container {
    width: 100%;
    position: relative;
    padding-bottom: var(--desktop-ratio);

    @include media-breakpoint-down(lg) {
      padding-bottom: var(--tablet-ratio, var(--desktop-ratio));
    }
    @include media-breakpoint-down(md) {
      padding-bottom: var(--mobile-ratio, var(--tablet-ratio, var(--desktop-ratio)));
    }
  }
}
